extends layout

block content

  header#header.site-header.content-block.text-light.bg-dark
    canvas#headerCanvas
    div.padding-1x: div.content
      h1 Michael King
      div.site-header-subtitle My life consists of writing code and staying up late at night to look up at the rest of the universe. <br> Linux is the way to go. 
        a(href='http://distrowatch.com/')
          i.fab.fa-linux
      div.social-block
        a(href='https://github.com/mtking2' target='_blank'): i.fab.fa-github
        a(href='https://twitter.com/_mtking2' target='_blank'): i.fab.fa-x-twitter
        a(rel="me" href="https://mastodon.social/@sudovisudo"): i.fab.fa-mastodon
        a(href='https://instagram.com/mtking2' target='_blank'): i.fab.fa-instagram
        a(href='https://goodreads.com/mtking2' target='_blank'): i.fab.fa-goodreads
        a(href='http://steamcommunity.com/id/mtking2' target='_blank'): i.fab.fa-steam
        a(href='https://www.linkedin.com/in/mtking2' target='_blank'): i.fab.fa-linkedin
        a(href='assets/mking_resume.pdf' target='_blank' rel='noopener'): i.fa.fa-file-invoice

  div.github-block.content-block.text-dark.bg-light
    div.content
      h2 I code stuff
      h3 #[a(href='https://github.com/mtking2') @mtking2] on GitHub.
      div.row
        each github, githubIndex in githubData
          div.padding-1x.github-block-element(class=[githubIndex < 4 ? 'col-4' : 'col-4', githubIndex > 5 ? 'hide-from-tablet' : '', githubIndex > 3 ? 'hide-from-mobile' : ''])
            - var github_url = ['rubiks-gl'].includes(github.name) ? github.homepage : github.html_url
            a(href=github_url style='background-image: url(https://raw.githubusercontent.com/mtking2/' + github.name + '/gh-pages/assets/thumbnail.png)').github-block-element-link.github-block-thumbnail
            div.flex.flex-content-center.github-block-top
              a(href=github.html_url).flex-1
                h4.github-block-title= github.name
              div.github-block-stats
                span.fa.fa-star
                span #{' ' + github.stargazers_count.toLocaleString() + ' - '}
                span.fas.fa-code-branch
                span #{' ' + github.forks}
            div.github-block-description= github.description
            div.button-container
              //- a(href=github.html_url).button.-invisible-dark Open repo

  div.photos-block.text-light.content-block
    div.content
      h2 I take pictures
      div.flex.flex-justify-center.flex-wrap.row
        each photo, photoIndex in googlePhotosData 
          - var photoUrl = `${photo.baseUrl}=w300-h300`
          - var photoLgUrl = `${photo.baseUrl}=w1000-h1000`
          div.col-3.padding-1x.photos-block-element(class=photoIndex > 7 ? 'hide-from-mobile' : '')
            a(href=photoLgUrl target='_blank').photos-block-element-link
              - var cap = photo.description?.length > 50 ? photo.description?.substring(0,50) + '...' : photo.description
              img(src=photoUrl alt=cap || 'image')

  div.goodreads-block.text-dark.bg-light.content-block: div.content
    h2 I read books
    h3 #[a(href='https://goodreads.com/mtking2') @mtking2] on goodreads.
      //- small.text-muted  Also, check out my #[a(href='../reading-notes') reading notes].
    div.flex.flex-justify-center.flex-wrap.row
      each goodreads, goodreadsIndex in goodreadsData
        //- div.q-1.padding-1x.goodreads-block-element(class=[goodreadsIndex > 5 ? 'hide-from-tablet' : '', goodreadsIndex > 3 ? 'hide-from-mobile' : ''])
        div.q-1.padding-1x.goodreads-block-element(class=[goodreadsIndex > 5 ? 'hide-from-mobile' : ''])
          
          div.goodreads-block-element-thumbnail-container
            a(href=goodreads.url).goodreads-block-element-link
              div.goodreads-block-element-thumbnail(style=`background-image: url(${goodreads.thumbnail})`)
            if goodreads.hasNewNotes
              div.notification-badge.notification-badge-book
                div.notification-badge-book-inner 
                  span I've recently added some reading notes for this book!
                  span last updated on #[br]#[span.notes-last-updated=goodreads.notesLastUpdated]
                  a(class='rn-link' href=`reading-notes/books/${goodreads.isbn13}.html` target='_blank') Take a look #[i.fa.fa-2x.fa-arrow-circle-right]
          
          div.goodreads-block-element-status
            span=goodreads.status
            if goodreads.status === 'read'
              span.goodreads-block-element-stars
              each star in new Array(goodreads.myRating)
                span.fa.fa-star
          a(href=goodreads.url).goodreads-block-element-link
            div=goodreads.title + ' -' + goodreads.author

  div.letterboxd-block.text-light.bg-dark.content-block
    div.content
      h2 I watch movies
      h3 #[a(href='https://letterboxd.com/mtking2') @mtking2] on Letterboxd. 
        span.letterboxd-block-element-note #[span.fa.fa-sync-alt] = rewatch
      div.flex.flex-justify-center.flex-wrap.row
        each film, filmIndex in letterboxdData
          div.q-1.padding-1x.letterboxd-block-element(class=filmIndex > 5 ? 'hide-from-mobile' : '')
            a(href=film.link target='_blank').letterboxd-block-element-link
              //-img(src=film.image_url alt=film.title || 'image')
              div.letterboxd-block-element-thumbnail(style=`background-image: url(${film.image_url})`)
              div.letterboxd-block-element-status
                span=film.watch_date
                if film.rewatch === 'Yes'
                  span.letterboxd-block-element-rewatch
                    span.fa.fa-sync-alt
                span.letterboxd-block-element-stars
                  each star in new Array(parseInt(film.rating, 10))
                    span.fa.fa-star
                  if film.rating % Math.floor(film.rating)
                    span.fa.fa-star-half
              div=film.title

  div.about-block.text-light.content-block: div.content
    div.row.flex-content-center.block-on-small
      div.padding-1x.flex-1
        h2 I am Michael King
        div
          h5 Software Developer based in Asheville, NC. Working on the enginnering team at #[b: a(href='https://www.tripleseat.com/') Tripleseat].
          br
          h5 Otherwise, you'll occasionally find me doing astronomy, astrophotography, 3D printing things, reading, or playing videogames.
        br
        div.quote #[i This is the way]
      div.padding-1x
        picture
          source(srcset='assets/me.webp', type='image/webp')
          img.about-block-profile(src='assets/me.jpg', alt='Michael King')

  footer.dev-info
    hr
    div.row.flex-content-center
      a(href='https://nodejs.org/') #[img(src='assets/nodejs-light.png' alt='nodejs')]
      a(href='https://pugjs.org') #[img(src='assets/pug.svg' alt='pug')]
      a(href='http://sass-lang.com/') #[img(src='assets/sass.svg' alt='sass')]
      a(href='https://validator.w3.org/check?uri=https://mtking2.github.io/') #[img(src='assets/valid-html5.png' alt='w3-validator' style="height: 2rem; margin-bottom: 2rem")]
    div.last-modified
      script
        | document.write("Last modified: " + document.lastModified + "");
        
//-append page_scripts
  script.
    
    
    
   
