extends layout

block content

  header#header.site-header.content-block.text-light
    canvas#headerCanvas
    div.padding-1x: div.content
      h1 Michael King
      div.site-header-subtitle My life consists of writing code and staying up late at night to look up at the rest of the universe. <br> Linux is the way to go. 
        a(href='http://distrowatch.com/')
          i.fab.fa-linux
      div.social-block
        a(href='https://github.com/mtking2' target='_blank'): i.fab.fa-github
        a(href='https://twitter.com/_mtking2' target='_blank'): i.fab.fa-twitter
        a(href='https://www.linkedin.com/in/mtking2' target='_blank'): i.fab.fa-linkedin
        a(href='http://steamcommunity.com/id/mtking2' target='_blank'): i.fab.fa-steam
        a(href='assets/mking_resume.pdf' target='_blank' rel='noopener'): i.fa.fa-file-invoice

  div.github-block.content-block.text-dark
    div.content
      h2 I code stuff
      h3 #[a(href='https://github.com/mtking2') @mtking2] on GitHub.
      div.row
        each github, githubIndex in githubData
          div.padding-1x.github-block-element(class=[githubIndex < 4 ? 'col-4' : 'col-4', githubIndex > 5 ? 'hide-from-tablet' : '', githubIndex > 3 ? 'hide-from-mobile' : ''])
            - var github_url = ['rubiks-gl'].includes(github.name) ? github.homepage : github.html_url
            a(href=github_url style='background-image: url(https://raw.githubusercontent.com/mtking2/' + github.name + '/gh-pages/assets/thumbnail.png)').github-block-element-link.github-block-thumbnail
            div.flex.flex-content-center.github-block-top
              a(href=github.html_url).flex-1
                h4.github-block-title= github.name
              div.github-block-stats
                span.fa.fa-star
                span #{' ' + github.stargazers_count.toLocaleString() + ' - '}
                span.fas.fa-code-branch
                span #{' ' + github.forks}
            div.github-block-description= github.description
            div.button-container
              //- a(href=github.html_url).button.-invisible-dark Open repo

  div.instagram-block.text-light.content-block
    div.content
      h2 I take pictures of stuff
      h3 #[a(href='https://instagram.com/mtking2') @mtking2] on Instagram.
      div.flex.flex-justify-center.flex-wrap.row
        each instagram, instagramIndex in instagramData
          div.col-3.padding-1x.instagram-block-element(class=instagramIndex > 4 ? 'hide-from-mobile' : '')
            a(href=instagram.link).instagram-block-element-link
              if instagram.type === 'carousel'
                - var insta_url = instagram.carousel_media.filter( (e) => { return e.type === 'image' } )[0].images.standard_resolution.url              
              else
                - var insta_url = instagram.images.standard_resolution.url
              img(src=insta_url alt=instagram.caption.text || 'image')
              //- div.instagram-block-description.cf
              //-   div.pull-left= instagram.caption.text
  div.goodreads-block.text-dark.content-block: div.content
    h2 I read stuff
    h3 #[a(href='https://goodreads.com/mtking2') @mtking2] on goodreads.
      small.text-muted  Also, check out my #[a(href='../reading-notes') reading notes].
    div.flex.flex-justify-center.flex-wrap.row
      each goodreads, goodreadsIndex in goodreadsData
        div.q-1.padding-1x.goodreads-block-element(class=[goodreadsIndex > 5 ? 'hide-from-tablet' : '', goodreadsIndex > 3 ? 'hide-from-mobile' : ''])
          a(href=goodreads.url).goodreads-block-element-link
            div.goodreads-block-element-thumbnail(style=`background-image: url(${goodreads.thumbnail})`)
            div.goodreads-block-element-status
              span=goodreads.status
              if goodreads.status === 'read'
                span.goodreads-block-element-stars
                each star in new Array(goodreads.myRating)
                  span.fa.fa-star
            div=goodreads.title + ' -' + goodreads.author

  div.about-block.content-block: div.content
    div.row.flex-content-center.block-on-small
      div.padding-1x.flex-1
        h2 I'm Michael King
        div
          h5 Software Developer in Asheville, NC working at #[b: a(href='http://mwwondemand.com/') MWW, Inc.]. Otherwise, you'll occasionally find me doing astronomy, astrophotography, 3D printing things, reading, or playing videogames.
        br
        div.quote #[i This is the way]
      div.padding-1x
        img.about-block-profile(src='assets/me.jpg', alt='Michael King')

  footer.dev-info
    div.row.flex-content-center
      a(href='https://nodejs.org/') #[img(src='assets/nodejs-light.png' alt='nodejs')]
      a(href='https://pugjs.org') #[img(src='assets/pug.svg' alt='pug')]
      a(href='http://sass-lang.com/') #[img(src='assets/sass.svg' alt='sass')]
      a(href='https://validator.w3.org/nu/check/referer') #[img(src='assets/valid-html5.png' alt='w3-validator' style="height: 2rem; margin-bottom: 2rem")]
    div.last-modified
      script
        | document.write("Last modified: " + document.lastModified + "");
